<ion-header [translucent]="true">
	<ion-toolbar>

		<ion-button id="logoutBtn" size="large" [routerLink]="['/home']">
			<ion-icon slot="icon-only"  name="log-in-outline" color="dark"></ion-icon>
		</ion-button>
		<ion-title>DuocUC</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
	
	<ion-list>
		<ion-list-header lines="full">
			<ion-label>Asistencia</ion-label>
		</ion-list-header>
	<div class="container">
		<ion-item>
			<ion-input label="Alumno:" [ngModel]="clase.estud" disabled></ion-input>
		  </ion-item>
		<ion-item>
			<ion-input label="Codigo Asignatura:" [ngModel]="clase.asig" disabled></ion-input>
		  </ion-item>
		<ion-item>
			<ion-input label="Fecha:" [ngModel]="clase.fecha" disabled></ion-input>
		  </ion-item>
		<ion-item>
			<ion-input label="Sección:" [ngModel]="clase.secc" disabled></ion-input>
		  </ion-item>
		<ion-button #anim (click)="sendData()" >Registrar</ion-button>
		
	</div>		
	</ion-list>

</ion-content>
