<ion-header [translucent]="true">
	<ion-toolbar>

		<ion-button id="logoutBtn" size="large" (click)="logout()">
			<ion-icon slot="icon-only" name="log-in-outline" color="dark"></ion-icon>
		</ion-button>
		<ion-title>
			DuocUC
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="qr.scanActive ? '#00000000':'#1a1a1a'">
	<div [hidden]="qr.scanActive">
		<h1>Bienvenido al Portal de Asistencia</h1>
		<div #welcom class="container">
			<div #E class="user">
				<h2 >{{UserName}}</h2>
					<img [src]="url">
			</div>
			
			<ion-button expand="block" (click)="scan()">
				ESCANEAR QR .
				<ion-icon name="qr-code-outline"></ion-icon>
			</ion-button>
		</div>
	
		
	</div>
	<ion-row class="scanner-buttons" [hidden]="!qr.scanActive">
		<ion-col class="ion-no-padding">
			<ion-button expand="block" (click)="qr.stopScan()">Stop</ion-button>
		</ion-col>
	</ion-row>
</ion-content>